.QueryResult {
	height: 10em;
	padding: 5px;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	background-color: white;
	background-color: -moz-field;
	border: 1px solid darkgray;
	box-shadow: 1px 1px 1px 0 lightgray inset;
	overflow-y: scroll;
}