.DBRadio, .ReadWriteRadio {
	display: flex;
	padding: 20px;
}
.DBRadio {
	float: left;
}
.ReadWriteRadio {
	float: right;
}
.ModeSelector {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	/* min-height: 30px; */
}